.vip_card_box,.my_power_box,.can_buy_box,.write_data_box,.my_person_info,.my_self_info,.my_find_info,.my_top_box{
	background: #fff;
	margin-bottom: .2rem;
	padding: .3rem .3rem .5rem;
	box-sizing: border-box;
}
.vip_card_box h5,.my_power_box h5,.can_buy_box h5,.my_person_info h5,.my_self_info h5,.my_find_info h5,.my_top_box h5{
	color: #242424;
	font-size: .2rem;
	padding-bottom: .1rem;
	border-bottom: 1px solid #ECECEC;
	margin-bottom: .3rem;
}


.vip_card{
	display: flex;
	justify-content: space-between;
	padding: .4rem .4rem .7rem;
}
.card_box{
	position: relative;
}
.card_box img{
	display: block;
	width: 3.42rem;
	height: 2.03rem;
}
.card_layer{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 3;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	color: #c7c7c7;
	font-size: .12rem;
	padding-bottom: .15rem;
	box-sizing: border-box;
}

.card_nav{
	padding-right: .7rem;
	box-sizing: border-box;
}
.card_nav li{
	margin-bottom: .25rem;
}
.card_nav li:last-child{
	margin-bottom: 0;
}
.card_nav li a{
	display: block;
	width: 1.55rem;
	height: .5rem;
	line-height: .5rem;
	text-align: center;
	border-radius: .05rem;
	color: #fff;
	font-size: .16rem;
	background: #666;
}
.card_nav li.red a{
	background: #be0020;
}
.card_nav li.orange a{
	background: #f3992e;
}


.power_box,.can_buy_box ul{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.power_box li,.can_buy_box ul li{
	width: 20%;
	text-align: center;
	margin-bottom: .4rem;
}
.can_buy_box ul li{
	margin-bottom: 0;
}
.power_box li a,.can_buy_box ul li a{
	display: block;
	overflow: hidden;
	color: #000;
	font-size: .16rem;
}
.power_box li a img{
	display: inline-block;
	width: .64rem;
	height: .44rem;
	margin-bottom: .1rem;
}
.can_buy_box ul li a img{
	display: inline-block;
	width: .54rem;
	margin-bottom: .1rem;
}


.vip_look li{
	margin-left: .1rem;
}
.vip_look li a{
	display: block;
	width: 1.7rem;
	height: .6rem;
	line-height: .6rem;
	color: #2d2d2d;
	font-size: .16rem;
	background: #fff;
	border-radius: .05rem;
	text-align: center;
}
.vip_look li.active a{
	background: #fec928;
}


.write_data_box p{
	color: #232323;
	font-size: .2rem;
	margin-bottom: .5rem;
}
.pc_process_box p{
	margin: 0;
	font-size: .16rem;
}
.write_data_box img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.my_self_info .box,.my_find_info .box{
	color: #2b2b2b;
	font-size: .16rem;
}
.my_person_info{
	padding-bottom: .3rem;
}
.my_person_info ul{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.my_person_info ul li{
	width: 30%;
	margin-bottom: .3rem;
	color: #3d3d3d;
	font-size: .16rem;
}


.my_top_box ul{
	overflow: hidden;
}
.my_top_box ul li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #3d3d3d;
	font-size: .18rem;
	padding: .2rem 0;
}
.my_top_box ul li .icon{
	display: inline-block;
	vertical-align: middle;
	width: .59rem;
	height: .49rem;
	margin: 0 .2rem .05rem 0;
}
.my_top_box ul li span{
	display: block;
	width: 3.10rem;
}
.my_top_box ul li p{
	width: 3.2rem;
}
.my_top_box ul li p img{
	display: inline-block;
	vertical-align: middle;
	width: .34rem;
	height: .34rem;
	margin: 0 .15rem .05rem 0;
}
.my_top_box ul li a{
	display: block;
	width: 1.35rem;
	height: .55rem;
	line-height: .55rem;
	text-align: center;
	color: #fff;
	font-size: .16rem;
	background: #BE0020;
	border-radius: .05rem;
}



.person_box,.vip_type_box{
	background: #eee;
	padding: .35rem 0 .9rem;
	box-sizing: border-box;
	overflow: hidden;
}
.person_box h3,.vip_type_box h3{
	color: #2e2e2e;
	font-size: .3rem;
	text-align: center;
	margin-bottom: .2rem;
}
.vip_type_box h3{
	margin-bottom: .05rem;
}
.vip_type_box h6{
	color: #2e2e2e;
	font-size: .16rem;
	margin-bottom: .15rem;
	text-align: center;
}
.vip_select,.vip_buy,.pay_money,.vip_type_content{
	background: #fff;
	border-radius: .05rem;
	margin-bottom: .1rem;
	overflow: hidden;
}
.vip_select .box,.vip_buy .box,.pay_money .box{
	width: 5.5rem;
	margin: .4rem auto;
}
.vip_select label{
	display: flex;
	font-weight: normal;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .4rem;
}
.vip_select label p{
	color: #2e2e2e;
	font-size: .2rem;
}
.vip_select label p span{
	margin-right: .1rem;
	text-decoration: line-through;
}
.vip_select label input{
	transform: scale(1.5);
	outline: none;
	margin-right: .3rem;
}
.pay_money ul{
	overflow: hidden;
}
.pay_money ul li{
	margin-bottom: .4rem;
	overflow: hidden;
	color: #2e2e2e;
	font-size: .2rem;
}
.pay_money ul li span{
	float: right;
}
.vip_buy .vip{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #2e2e2e;
	font-size: .2rem;
}
.vip_buy.primary .vip .right{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.vip_buy.primary .vip .right div{
	text-align: center;
}
.vip_buy.primary .vip .right div img{
	margin-bottom: .1rem;
}
.vip_buy.primary .vip .right span{
	margin-left: .3rem;
}
.vip_buy.high .vip ul li{
	position: relative;
	margin-bottom: .4rem;
}
.vip_buy.high .vip ul li img{
	position: absolute;
}
.vip_buy.high .vip .left ul li img{
	left: -.42rem;
	top: -.12rem;
}
.vip_buy.high .vip .right ul li img{
	left: -.72rem;
	top: -.12rem;
}
.vip_buy.high .vip .right ul li{
	text-align: right;
}
.vip_select label:last-child,.pay_money ul li:last-child,.vip_buy.high .vip ul li:last-child{
	margin-bottom: 0;
}


.buy_btn{
	display: block;
	width: 4.45rem;
	height: .72rem;
	line-height: .72rem;
	color: #fff;
	font-size: .2rem;
	background: #BE0020;
	border-radius: .05rem;
	text-align: center;
	margin: .4rem auto;
}
.buy_btn:focus,.buy_btn:hover{
	color: #fff;
}

.pay_till,.pay_care{
	color: #424242;
	font-size: .18rem;
	text-align: center;
}
.pay_care{
	font-size: .16rem;
	margin-top: .05rem;
}


.pay_modal{
	width: 40%;
}
.pay_modal .box{
	padding: .5rem 0 0;
}
.pay_modal h4{
	text-align: left;
	margin-bottom: .5rem;
}
.pay_modal h4 span{
	float: right;
	margin-right: 1.2rem;
}
.pay_modal .pay_ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: .2rem;
}
.pay_modal .pay_ul label input{
	transform: scale(1.5);
	outline: none;
}
.pay_modal .pay_ul label img{
	margin: 0 .3rem;
}


.vip_type_content{
	overflow: hidden;
}
.vip_table_box{
	padding-bottom: 1rem;
}
.vip_type_nav,.basic_ul li{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: .4rem 0 .1rem;
	border-bottom: 1px solid #F2F2F2;
}
.basic_ul li{
	padding: 0;
	margin-bottom: .2rem;
	border-bottom: 0;
	justify-content: flex-start;
}
.vip_type_nav li,.vip_table_td li,.basic_ul li span{
	display: block;
	width: 15%;
	color: #2e2e2e;
	font-size: .2rem;
	text-align: center;
}
.basic_ul li .icon{
	width: 40%;
	padding-left: .25rem;
	box-sizing: border-box;
	color: #464646;
	font-size: .18rem;
}
.basic_ul li .icon img{
	margin-right: .2rem;
}
.vip_table_td{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: .3rem 0 .2rem;
}
.vip_table_td li{
	font-size: .18rem;
}
.vip_table_td li a{
	display: block;
	width: 1.3rem;
	height: .5rem;
	line-height: .5rem;
	text-align: center;
	color: #fff;
	font-size: .16rem;
	background: #BE0020;
	border-radius: .05rem;
	margin: 0 auto;
}
.vip_table_td li a.fee{
	background: #f3b745;
}


.basic_skills_box{
	overflow: hidden;
	padding-bottom: .5rem;
}
.basic_skills_box .basic_title{
	padding: 0 .4rem 0 .25rem;
	box-sizing: border-box;	
}
.basic_skills_box h3{
	color: #2e2e2e;
	font-size: .2rem;
	position: relative;
	text-align: left;
	margin-bottom: .3rem;
}
.basic_skills_box h3:after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #E7E7E7;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.basic_skills_box h3 span{
	position: relative;
	z-index: 2;
	background: #fff;
	padding-right: .35rem;
}