.wallet_box{
	padding-bottom: .8rem;
}
.setting_box,.secrecy_photo_box,.change_password_box,.feedback_box{
	padding: .3rem .3rem .8rem;
	background: #fff;
	box-sizing: border-box;
	border-top: 1px solid #C8C8C8;
}
.cert_box{
	border-bottom: 1px solid #ECECEC;
}
.cert_box h5,.third_part h5{
	color: #242424;
	font-size: .2rem;
	margin-bottom: .05rem;
}
.cert_box p,.third_part p{
	color: #242424;
	font-size: .16rem;
}
.cert_card{
	margin: .3rem 0;
	display: inline-block;
	position: relative;
}
.cert_card .card_img{
	display: block;
	width: 1.62rem;
	height: 1.08rem;
}
.cert_card span{
	position: absolute;
	width: .33rem;
	height: .33rem;
	background: url(../images/during.png) center center no-repeat;
	background-size: 100% 100%;
	right: -.05rem;
	bottom: -.05rem;
	z-index: 3;
}
.cert_card.ok span{
	width: .5rem;
	height: .36rem;
	background: url(../images/yes.png) center center no-repeat;
	background-size: 100% 100%;
	right: -.05rem;
	bottom: -.05rem;
}


.third_part{
	padding-top: .3rem;
}
.third_part ul{
	overflow: hidden;
	margin-top: .3rem;
}
.third_part ul li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: .3rem;
}
.third_part ul li img{
	display: block;
	width: .61rem;
	height: .58rem;
	margin-right: .15rem;
}
.third_part ul li span{
	color: #242424;
	font-size: .16rem;
	display: block;
	width: 3.5rem;
}
.third_part ul li a{
	display: block;
	width: 1.4rem;
	height: .45rem;
	line-height: .45rem;
	color: #fff;
	font-size: .16rem;
	text-align: center;
	background: #be0020;
	border-radius: .05rem;
}
.third_part ul li a.then{
	background: #8f8f8f;
}


.secrecy_photo_box ul{
	overflow: hidden;
}
.secrecy_photo_box ul li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: .1rem;
	border-bottom: 1px solid #F4F4F4;
	margin-bottom: .25rem;
}
.secrecy_photo_box ul li .img{
	width: 1.52rem;
	height: 1.82rem;
}
.secrecy_photo_box ul li .img img{
	display: block;
	width: 100%;
	height: 100%;
}
.secrecy_photo_box ul li .info{
	color: #242424;
	font-size: .16rem;
	width: 58%;
}
.secrecy_photo_box ul li .info h5{
	font-size: .18rem;
	margin: .15rem 0;
}
.secrecy_photo_box ul li .info p{
	margin-bottom: .2rem;
}
.secrecy_photo_box ul li a{
	display: block;
	width: 1.7rem;
	height: .5rem;
	line-height: .5rem;
	color: #fff;
	font-size: .16rem;
	background: #979797;
	border-radius: .05rem;
	text-align: center;
}


.change_password_box .input_box{
	margin-bottom: .3rem;
}
.change_password_box .input_box.mb20{
	margin-bottom: .2rem;
}
.change_password_box form p{
	color: #616060;
	font-size: .16rem;
	margin-bottom: .25rem;
}
.change_password_box span{
	color: #474747;
	font-size: .18rem;
	margin-bottom: .1rem;
	display: block;
}
.change_password_box .form_btn{
	text-align: center;
	margin-top: .7rem;
}
.change_password_box .form_btn input,.feedback_box .submit_btn{
	width: 1.95rem;
	height: .6rem;
	line-height: .6rem;
	color: #fff;
	font-size: .16rem;
	text-align: center;
	background: #a6a6a6;
	border-radius: .05rem;
	border: 0;
	outline: none;
}
.feedback_box .submit_btn{
	background: #be0020;
	display: block;
	width: 2rem;
	margin: .2rem auto 0;
}
.change_password_box .form_btn .submit_btn{
	background: #be0020;
	margin-right: .6rem;
}

.close_box{
	padding-bottom: .2rem;
	border-bottom: 1px solid #F8F8F8;
	margin-bottom: .4rem;
}
.close_box h5{
	color: #1b1b1b;
	font-size: .2rem;
	margin-bottom: .1rem;
}
.close_box p{
	color: #7c7c7c;
	font-size: .16rem;
}


.feedback_box h5{
	color: #1b1b1b;
	font-size: .2rem;
	margin-bottom: .2rem;
}
.feed_item{
	margin-bottom: .4rem;
}
.feed_item h6{
	color: #1b1b1b;
	font-size: .16rem;
	margin-bottom: .15rem;
}
.feed_item textarea{
	display: block;
	width: 100%;
	height: 3rem;
	outline: none;
	resize: none;
	padding: .2rem;
	box-sizing: border-box;
	background: #eee;
	border-radius: .05rem;
	border: 0;
}
.feed_item input[type='text']{
	display: block;
	width: 100%;
	background: #eee;
	border-radius: .05rem;
	border: 0;
	padding: .15rem 0 .15rem .25rem;
	box-sizing: border-box;
	outline: none;
}

.report_item label{
	display: block;
	padding: .3rem;
	background: #eee;
	border-radius: .05rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #5b5b5b;
	font-size: .16rem;
	font-weight: normal;
	margin-bottom: .15rem;
}
.report_item label input[type='radio']{
	outline: none;
	transform: scale(1.5);
}