.recharge_box,.withdraw_box,.record_box,.binding_box{
	padding: .4rem .5rem 1rem;
	background: #fff;
	border-top: 1px solid #D0D0D0;
}

.recharge_box h6,.withdraw_box h6{
	color: #242424;
	font-size: .18rem;
	margin-bottom: .2rem;
}
.price_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .9rem;
}
.withdraw_box .price_box{
	margin-bottom: 0;
}
.price_box .rb_left div{
	padding-bottom: .1rem;
	border-bottom: 1px solid #E7E7E7;
	margin-bottom: .1rem;
}
.price_box .rb_left span{
	display: inline-block;
	vertical-align: middle;
	color: #242424;
	font-size: .64rem;
	line-height: .8;
}
.price_box .rb_left input{
	outline: none;
	border: 0;
	font-size: .25rem;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
.price_box .rb_left input::-webkit-outer-spin-button,
.price_box .rb_left input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
}
.price_box .rb_left p{
	color: #555;
	font-size: .14rem;
}
.price_box .rb_code{
	display: block;
	width: 1.2rem;
	height: 1.2rem;
}

.price_box .rb_right a{
	display: block;
	width: 1.75rem;
	height: .68rem;
	line-height: .68rem;
	text-align: center;
	color: #fff;
	font-size: .2rem;
	background: #be0020;
	border-radius: .05rem;
}

.withdraw_type{
	margin-bottom: .8rem;
}
.account_box p,.withdraw_type p{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	display: none;
	flex-wrap: wrap;
}
.account_box p.active,.withdraw_type p.active{
	display: flex;
}
.account_box span,.withdraw_type span{
	color: #242424;
	font-size: .18rem;
	margin-right: .3rem;
}
.withdraw_type span.till{
	color: #8a8a8a;
	font-size: .16rem;
	margin: 0 0 0 1rem;
}
.account_box img,.withdraw_type img{
	display: inline-block;
	width: .52rem;
	height: .46rem;
	margin-right: .4rem;
}
.account_box a,.withdraw_type a{
	color: #cc0000;
	font-size: .14rem;
	margin-left: 1.2rem;
}
.withdraw_type a{
	display: block;
	width: 100%;
	margin: .15rem 0 0 .5rem;
}


.record_box,.history_box{
	padding: .4rem .25rem 0;
}
.record_box ul{
	padding: .3rem 0 .1rem;
}
.record_box .title,.record_box ul li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.record_box .title{
	padding-bottom: .1rem;
	border-bottom: 1px solid #F1F1F1;
	color: #242424;
	font-size: .18rem;
}
.record_box ul li{
	color: #414141;
	font-size: .16rem;
	margin-bottom: .3rem;
}
.record_box .title span:first-child,.record_box ul li span:first-child{
	width: 4.75rem;
}
.record_box .title span:nth-child(2),.record_box ul li span:nth-child(2){
	width: 2rem;
}

.load_more{
	display: block;
	background: #dcdcdc;
	padding: .2rem 0;
	text-align: center;
	color: #414141;
	font-size: .16rem;
	outline: none;
}
.load_more img{
	display: inline-block;
	width: .26rem;
	margin-left: .1rem;
}
.load_more:focus,.load_more:hover{
	color: #414141;
}


.history_box{
	background: #fff;
	padding: .4rem 0 0;
	border-top: 1px solid #D0D0D0;
}
.history_box h5{
	color: #242424;
	font-size: .18rem;
	padding: 0 .25rem .1rem;
	border-bottom: 1px solid #F1F1F1;
}
.history_ul{
	overflow: hidden;
}
.history_ul .history_item{
	padding: .3rem .25rem;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}
.history_ul .history_item.active{
	background: #e5e5e5;
}
.history_ul .history_item.active:after{
	content: "";
	width: 1.47rem;
	height: 1.15rem;
	background: url(../images/finish.png) center center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
}
.history_info{
	/* overflow: hidden; */
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.history_info .h_left{
	width: 60%;
	/* float: left; */
}
.history_info .h_left img{
	display: block;
	width: .91rem;
	height: 1.08rem;
	float: left;
	margin-right: .15rem;
}
.history_info .h_left h6{
	color: #262626;
	font-size: .2rem;
	margin: .05rem 0 .1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.history_info .h_left p{
	color: #262626;
	font-size: .16rem;
	margin-bottom: .1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.history_list{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.history_list .hl_item{
	width: 50%;
	margin-top: .2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #303030;
	font-size: .16rem;
}
.history_list .hl_item img{
	display: block;
	width: .33rem;
	height: .33rem;
	margin-right: .15rem;
}
.history_list .hl_item span{
	display: block;
	width: .7rem;
	margin-right: .15rem;
}
.history_list .hl_item p{
	width: 2.8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.binding_box ul{
	overflow: hidden;
}
.binding_box ul li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	color: #242424;
	font-size: .18rem;
	padding-bottom: .15rem;
	border-bottom: 1px solid #F6F6F6;
	margin-bottom: .5rem;
}
.binding_box ul li:last-child{
	margin-bottom: 0;
	border-bottom: 0;
}
.binding_box ul li .img{
	width: 1rem;
	padding: 0 .1rem;
	box-sizing: border-box;
	margin-right: .2rem;
	text-align: center;
}
.binding_box ul li .img h5{
	color: #242424;
	font-size: .18rem;
	margin-top: .15rem;
}
.binding_box ul li span{
	display: block;
	margin-right: .6rem;
}
.binding_box ul li p{
	width: 3rem;
	margin-right: 1rem;
}
.binding_box ul li a{
	display: block;
	width: 1.35rem;
	height: .5rem;
	line-height: .5rem;
	color: #fff;
	font-size: .18rem;
	text-align: center;
	background: #8d8d8d;
	border-radius: .05rem;
}
.binding_box ul li a.bind_btn{
	background: #BE0020;
}


.bind_modal .form{
	margin-top: .35rem;
}
.bind_modal .input_item{
	background: #eee;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	padding: .2rem .25rem;
	margin-bottom: .15rem;
	border-radius: .05rem;
}
.bind_modal .input_item.nomargin{
	margin-bottom: 0;
}
.bind_modal .form h4{
	color: #be0020;
	font-size: .16rem;
	margin: .1rem 0 .15rem;
	text-align: left;
}
.bind_modal .input_item span{
	width: 1.8rem;
	text-align: left;
}
.bind_modal .input_item input{
	border: 0;
	background: none;
	color: #2a2a2a;
	font-size: .16rem;
	outline: none;
}
.bind_modal .input_item input[type='text']{
	display: block;
	width: 2.2rem;
}
.bind_modal .input_item input[type='button']{
	margin-left: .2rem;
}